<%= form_for @user do |f| %>
   <% if @user.errors.any? %>
     <div class="error_messages">
       <h2>Wystąpił błąd!</h2>
       <ul>
         <% @user.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
       </ul>
     </div>
    <% end %>
    <div class="field">
      <%=f.label :name, :nazwa_użytkownika%><br>
      <%=f.text_field :name%>
    </div>
    <div class="field">
      <%=f.label :email%><br>
      <%=f.text_field :email%>
    </div>
    <div class="field">
      <%=f.label :password, :hasło%><br>
      <%=f.password_field :password%>
    </div>
    <div class="field">
      <%=f.label :password_confirmation, :potwierdź_hasło%><br>
      <%=f.password_field :password_confirmation%>
    </div>
   <div class="actions"><%= f.submit "Zarejestruj", class:'btn btn-primary' %></div>
<% end %>