<h1>Lista użytkowników</h1>
<div id='users_index'>
  <table>
    <thead>
      <tr>
        <th>Nazwa </th>
        <th>e-mail </th>
        <th>Rola </th>
        <th colspan='2'></th>
      </tr>
    </thead>
    
    <tbody>
      <%@users.each do |user|%>
      	<tr>
      		<th><%=user.name%></th>
          	<th><%=user.email%></th>
            <th><%=user.role%></th>
            <th><%=link_to 'Profil', show_user_path(user)%></th>
            <th><%=link_to 'Edycja profilu', edit_user_path(user)%></th>
          </tr>
       <%end%>   
    </tbody>
  </table>
</div>