<h1>Lita gier</h1>
<div id='games_table'>
  <table class='table-striped'>
    <thead>
      <tr>
        <th>Tytuł </th>
        <th>Opis </th>
        <th>Gatunek </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td class='nowrap'><%= game.title %></td>
          <td><%= game.description %></td>
          <td><%= game.genre %></td>
          <td><%= link_to 'Wyświetl ', game %></td>
          <td><%= link_to 'Edytuj ', edit_game_path(game) %></td>
          <td><%= link_to 'Usuń ', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Game', new_game_path %>