<%=form_for([@game, @post]) do |f|%>
  <%if @post.errors.any?%>
    <div id='error_information'>
      <h2><%= pluralize(@post.errors.count, "error") %> Wystąpił błąd przy zapisywaniu recenzji!</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, :Tytuł %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body, :Treść %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>